---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}"/>
    <link rel="canonical" href="{{ site.url }}">
    <link href="{{ site.url }}/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ site.url }}/favicon.ico" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <meta itemprop="name" content="King's Cross Publishing">
    <meta itemprop="url" content="{{ site.url }}">
    <meta itemprop="sameAs" content="https://www.facebook.com/Kings-Cross-Publishing-408129989657373/">
    <meta itemprop="sameAs" content="https://twitter.com/KingXPublishing">
    <meta itemprop="sameAs" content="https://www.amazon.com/s/ref=dp_byline_sr_ebooks_2?ie=UTF8&text=King%27s+Cross+Publishing&search-alias=digital-text&field-author=King%27s+Cross+Publishing&sort=relevancerank">
    <meta itemprop="description" content="Kindle e-books and paperbacks on Amazon!">
    <meta itemprop="logo" content="{{ site.url }}/images/open-graph.png">

    <meta property="og:title" content="King's Cross Publishing &mdash; Kindle e-books and paperbacks on Amazon!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:image" content="{{ site.url }}/images/open-graph.png" />
    <meta property="og:description" content="King's Cross Publishing, Independent Publishing House." />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="King's Cross Publishing &mdash; Kindle e-books and paperbacks on Amazon!">
    <meta name="twitter:description" content="King's Cross Publishing, Independent Publishing House.">
    <meta name="twitter:image" content="{{ site.url }}/images/open-graph.png">
  </head>
  <body>
    {{ content }}
  </body>
</html>